[theme~="dark"] {
  --lumo-base-color: #262A35;
  --lumo-primary-color: #00C896;
  --lumo-primary-text-color: #B4FFE3;
  --lumo-primary-color-10pct: rgba(0, 209, 160, 0.1);
  --lumo-primary-color-50pct: rgba(0, 209, 160, 0.5);

  --headline-gradient-from: #00FFA3;
  --headline-gradient-to: #00B3FF;

  --primary-layout-background: #333844;

  --start-stop-button-background: #00C896;
  --start-stop-button-icon: #F4F4F4;

  --main-sidebar-background: #2B2F39;
  --selected-tab-background: rgba(255, 255, 255, 0.1);
  --secondary-sidebar-background: #353B47;
  --sidebar-grid-selected-row: rgba(255, 255, 255, 0.08);

  --create-button-hover-color: rgba(0, 200, 150, 0.05);

  --google-button-border: #757775;
  --google-button-hover: whitesmoke;
}

[theme~="light"] {
  --lumo-base-color: #f1f4f9;
  --lumo-primary-color: #6366f1;
  --lumo-primary-text-color: #3730a3;
  --lumo-primary-color-10pct: rgba(99, 102, 241, 0.1);
  --lumo-primary-color-50pct: rgba(99, 102, 241, 0.5);

  --headline-gradient-from: #6366f1;
  --headline-gradient-to: #ec4899;

  --primary-layout-background: #e0e7ff;

  --start-stop-button-background: #6366f1;
  --start-stop-button-icon: #ffffff;

  --main-sidebar-background: #c7d2fe;
  --secondary-sidebar-background: #e9d5ff;
  --selected-tab-background: rgba(99, 102, 241, 0.2);
  --sidebar-grid-selected-row: rgba(0, 0, 0, 0.05);

  --create-button-hover-color: rgba(99, 102, 241, 0.1);

  --google-button-border: #c5c2c2;
  --google-button-hover: #eaeaea;
}

:root {
  --card-border-radius: 15px;

  /* font size */
  --lumo-font-size-xxs: 0.75rem;
  --lumo-font-size-xs: 0.8125rem;
  --lumo-font-size-s: 0.875rem;
  --lumo-font-size-m: 0.95rem;
  --lumo-font-size-l: 1.1rem;
  --lumo-font-size-xl: 1.35rem;
  --lumo-font-size-xxl: 1.75rem;
  --lumo-font-size-xxxl: 2.5rem;

  /* spacing */
  --lumo-space-xxxs: 0.12rem;
  --lumo-space-xxs: 0.25rem;
  --lumo-space-xs: 0.5rem;
  --lumo-space-s: 0.8rem;
  --lumo-space-m: 1rem;
  --lumo-space-l: 1.5rem;
  --lumo-space-xl: 2.5rem;
}

.card-layout {
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-layout:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

vaadin-text-area {
  font-size: var(--lumo-font-size-s);
  font-family: monospace;
}
