/*
    This makes TreeGrid expand/collapse rows only when clicking the > toggle.
    It allows to attach an itemClickListener on the whole row.
 */
:host {
  pointer-events: none;
  --vaadin-grid-tree-toggle-level-offset: 10px;
}

[part="toggle"] {
  pointer-events: auto;
}