.google-login-button {
  background-color: white;
  color: black;
  border: 1px solid #757775;
  font-size: var(--lumo-font-size-xs);
  padding: 23px 15px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.google-login-button:hover {
  background-color: whitesmoke;
}