/* Sidebar */
.sidebar-layout {
    background: darkgreen;
}

.sidebar-title {
    padding: var(--lumo-space-m);
}

/* Requests Grid */
.requests-grid {
    background: transparent;
    border: none;
    --_lumo-grid-secondary-border-color: transparent;
}

.requests-grid::part(cell) {
    background: transparent;
}

.requests-grid::part(selected-row) {
    background-color: darkolivegreen;
}

/* Create button */
.create-button {
    margin: 0;
    color: white;
    border-radius: 0 12px 0 0;
}
