/* Sidebar */
.sidebar-layout {
  background: #2c4c3b;
  position: relative;
  transition: width 0.1s linear;
  contain: layout; /* Prevent layout recalculations outside sidebar */
}

/* Title */
.sidebar-title {
  padding: var(--lumo-space-m);
}

/* Requests Grid */
.requests-grid {
  background: transparent;
  border: none;
  --_lumo-grid-secondary-border-color: transparent;
}

.requests-grid::part(cell) {
  background: transparent;
}

.requests-grid::part(selected-row) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Create button */
.create-button {
  margin: 0;
  color: antiquewhite;
  background: transparent;
  border-radius: 0 var(--card-border-radius) 0 0;
}

/* Delete button */
.delete-button {
  padding: 0;
  margin: 0;
  color: antiquewhite;
  background: transparent;
}

/* Resize handle */
.resize-handle {
  width: 5px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
}
